<ion-card>
  <ion-card-header>
    <ion-card-title>Todas las Asignaturas</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-list>
      <ion-item>
        <ion-thumbnail slot="start">
          <img  src="src/assets/icon/base.png"/></ion-thumbnail>
        <ion-label (click)="bd()" >Base de Datos</ion-label>
      </ion-item>

      <ion-item>
        <ion-thumbnail slot="start">
          <img  src="src/assets/icon/ingles.png" />
        </ion-thumbnail>
        <ion-label (click)="ingles()" >Ingles Avanzado</ion-label>
      </ion-item>

      <ion-item>
        <ion-thumbnail slot="start">
          <img  src="src/assets/icon/mate.jpeg"/>
        </ion-thumbnail>
        <ion-label (click)="mate()" >Matematica Aplicada</ion-label>
      </ion-item>
    </ion-list>
  </ion-card-content> 
</ion-card> 

