<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Ingreso a la App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="https://seeklogo.com/images/D/duoc-uc-logo-F1437952BE-seeklogo.com.png" />
    <ion-card-header>
      <ion-card-title class="centrado">Bienvenido!</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-item>
        <ion-input type="email" [(ngModel)]="email" name="email" required></ion-input>
        <div style="color: red;" class="error-message">{{ emailError }}</div>
      </ion-item>
      <ion-item> 
        <ion-input type="password" [(ngModel)]="password" name="password" required></ion-input>
        <div style="color: red;" class="error-message">{{ passwordError }}</div>
      </ion-item>
      <ion-button (click)="login()" size="full">Ingresar</ion-button>
    </ion-card-content>
    <h4 class="centrado" (click)="restablecerpass()">Restablecer Contraseña</h4>
  </ion-card>
  
</ion-content>
