<ion-card>
  <ion-card-header>
    <ion-card-title>Bienvenido Alumno</ion-card-title>
    <ion-card-subtitle>Nombre: </ion-card-subtitle>
    <ion-card-subtitle>Correo: </ion-card-subtitle>
    <h4 class="centrado" (click)="restablecerpass()">Restablecer Contraseña</h4>
  </ion-card-header>
<hr>
<hr>
<hr>
  <ion-card-content>
    <ion-button (click)="escaner()" size="full">Escanea tu Codigo QR</ion-button>
    <h1>Estado De Asistencia</h1>
    <ion-button (click)="asignaturas()" size="full">Asignaturas</ion-button>
  </ion-card-content>
</ion-card>
