<ion-content>
  <h1>Lista de Alumnos</h1>
  <ion-card>
    <ion-item>
      <h1>Nombres</h1>
    </ion-item>
    <ion-item>
      <h1>Apellidos</h1>
    </ion-item>
    <ion-item>
      <h1>Rut</h1>
    </ion-item>
    <ion-item>
      <ion-checkbox>Presente</ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-checkbox>Ausente</ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-checkbox>Justificado</ion-checkbox>
    </ion-item>
    <ion-item>
      <h1>Nombres</h1>
    </ion-item>
    <ion-item>
      <h1>Apellidos</h1>
    </ion-item>
    <ion-item>
      <h1>Rut</h1>
    </ion-item>
    <ion-item>
      <ion-checkbox>Presente</ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-checkbox>Ausente</ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-checkbox>Justificado</ion-checkbox>
    </ion-item>
  </ion-card>
</ion-content>


